/*-- ic2ic start--*/
/*-- ic2ic end--*/
/*@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
/*@mixin serif-font {
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}*/
/*@mixin script-font {
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}*/
/*@mixin heading-font {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}*/
/* CUSTOM-FONT */
@font-face {
  font-family: "NewsGothicMTBold";
  src: url("NewsGothicMTBold.ttf");
  src: url("NewsGothicMT.ttf");
  src: url("NewsGothicMTItalic.ttf");
  src: url("NWGTHC.ttf");
  src: url("NWGTHCB.ttf");
  src: url("NWGTHCI.ttf"); }
body {
  margin: 0;
  padding: 0;
  font-family: "NewsGothicMTBold";
  font-size: 15px;
  color: #373737;
  font-style: normal; }

h1, h3, h4, h5, h6 {
  font-family: "NewsGothicMTBold"; }

p {
  font-size: 16px;
  margin: 0 0 0 0; }

h1 {
  font-size: 62px; }

h2 {
  font-size: 30px;
  text-transform: uppercase; }

h3 {
  font-size: 24px;
  text-transform: uppercase; }

h4 {
  font-size: 18px; }

/* ==================================================
  General
  ================================================== */
a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

/* ==================================================
  Elements
  ================================================== */
section {
  padding: 73px 0; }

a:hover {
  text-decoration: none !important; }

.hero {
  padding: 55px 0; }

.container {
  max-width: 1140px; }

/* ---- */
header {
  font-family: 'NewsGothicMTBold', Sans-Serif; }
  header .ic-banner {
    position: relative; }
    header .ic-banner::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.65); }
    header .ic-banner .carousel-inner .carousel-item .carousel-caption {
      text-align: left;
      top: 50px; }
      header .ic-banner .carousel-inner .carousel-item .carousel-caption img.ic-logo {
        margin-bottom: 14px; }
      header .ic-banner .carousel-inner .carousel-item .carousel-caption p {
        margin-top: 25px;
        margin-bottom: 30px;
        font-weight: bold; }
    header .ic-banner a {
      opacity: 1; }
      header .ic-banner a span {
        font-size: 48px;
        width: 60px;
        height: 60px;
        border: 1px solid #ed1c24;
        border-radius: 100%;
        color: #ed1c24;
        padding-top: 4px;
        -webkit-transiton: all 0.3s;
        -moz-transiton: all .3s;
        -o-transiton: all .3s;
        transition: all .3s;
        transition: 0; }
        header .ic-banner a span:hover {
          background-color: #ed1c24;
          color: #fff; }
    header .ic-banner a.carousel-control-prev span {
      padding-right: 5px; }
    header .ic-banner a.carousel-control-next span {
      padding-left: 5px; }

footer {
  font-family: 'NewsGothicMTBold', Sans-Serif; }
  footer .top-bar {
    background: url(../images/footer-background.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 36px; }
    footer .top-bar .ic-scientific {
      padding-top: 110px;
      padding-bottom: 45px; }
      footer .top-bar .ic-scientific h2 {
        font-weight: bold;
        font-size: 20px;
        color: #fff; }
      footer .top-bar .ic-scientific ul li {
        display: inline-block; }
        footer .top-bar .ic-scientific ul li:first-child {
          text-align: left;
          margin-right: 65px; }
    footer .top-bar .addres-bar img,
    footer .top-bar .addres-bar .ic-text-top-footer {
      display: inline-block; }
    footer .top-bar .addres-bar .ic-text-top-footer {
      color: #fff;
      position: relative;
      top: 12px;
      padding-bottom: 30px; }
    footer .top-bar .addres-bar .p-semibold {
      font-weight: 600;
      font-size: 15px; }
    footer .top-bar .addres-bar p {
      font-weight: 600;
      font-size: 12px; }
  footer .bottom-bar {
    background-color: #00a651;
    padding-top: 20px;
    padding-bottom: 20px; }
    footer .bottom-bar p {
      color: #fff; }
      footer .bottom-bar p span {
        color: #ed1c24;
        text-transform: uppercase;
        font-weight: bold; }
      footer .bottom-bar p a svg {
        width: 60px;
        height: auto; }

/* navbar css */
.navbar.ic-navbar {
  font-family: 'NewsGothicMTBold', Sans-Serif;
  background-color: #00a651;
  padding: 0;
  margin: 0; }
  .navbar.ic-navbar button.navbar-toggler i.fa-bars {
    color: #ed1c24;
    border: 1px solid #ed1c24;
    padding: 5px;
    display: inline-block;
    padding: 6px 8px;
    border-radius: 3px; }
  .navbar.ic-navbar .navbar-collapse ul.navbar-nav {
    padding: 0;
    margin: 0; }
    .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item {
      padding: 10px 5px;
      text-transform: capitalize; }
      .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item:hover {
        background-color: #ed1c24; }
      .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item.active {
        background-color: #ed1c24; }
      .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
        color: #fff; }
      .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item a.dropdown-toggle i {
        margin-left: 5px; }
      .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item a.dropdown-toggle::after {
        display: none; }
      .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu {
        padding: 0;
        margin-top: -0.01px;
        border: none;
        box-shadow: 0px -1px 9px 4px rgba(0, 0, 0, 0.1); }
        .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu a.dropdown-item {
          color: #fff;
          background: #00a651;
          padding: 14px 13px; }
          .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu a.dropdown-item:not(:last-child) {
            border-bottom: 1px solid #f8f9fa; }
          .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.nav-item .dropdown-menu a.dropdown-item:hover {
            background-color: #ed1c24; }
    .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.reg {
      background-color: #ed1c24;
      cursor: pointer; }
      .navbar.ic-navbar .navbar-collapse ul.navbar-nav li.reg a {
        cursor: pointer; }

/* mid content css */
.ic-mid-content {
  padding-top: 40px !important;
  background-color: #fffbf3; }
  .ic-mid-content .ic-banner-content {
    background: url(../images/mid-content-background.jpg) no-repeat bottom left;
    background-size: cover;
    padding-left: 63px;
    padding-right: 63px;
    padding-top: 40px;
    padding-bottom: 80px; }
  .ic-mid-content ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-bottom: 25px; }
    .ic-mid-content ul li {
      list-style: none; }
      .ic-mid-content ul li img {
        float: left; }
      .ic-mid-content ul li:nth-child(2) img {
        float: right; }
  .ic-mid-content .text-content h3 {
    margin-bottom: 28px;
    text-transform: none;
    font-weight: bold; }
  .ic-mid-content .text-content p {
    font-size: 18px;
    margin-bottom: 32px; }
    .ic-mid-content .text-content p:last-child {
      margin-bottom: 0; }
    .ic-mid-content .text-content p b {
      display: block; }
  .ic-mid-content .text-content p.ic-italic-p {
    margin-bottom: 25px !important; }

.registration-modal {
  font-family: 'NewsGothicMTBold', Sans-Serif; }
  .registration-modal .modal-dialog .modal-content {
    background-color: #fffbf3;
    border-radius: 0;
    border: none; }
    .registration-modal .modal-dialog .modal-content .modal-body {
      height: 379px;
      padding-top: 64px; }
      .registration-modal .modal-dialog .modal-content .modal-body button.close {
        position: absolute;
        right: 18px;
        top: 7px;
        color: #ed1c24;
        padding: 0;
        margin: 0; }
        .registration-modal .modal-dialog .modal-content .modal-body button.close i {
          font-size: 13px;
          border-radius: 100%;
          width: 20px;
          height: 20px;
          padding-top: 1px;
          border: 2px solid #ed1c24; }
      .registration-modal .modal-dialog .modal-content .modal-body img {
        width: 91px;
        height: auto; }
        .registration-modal .modal-dialog .modal-content .modal-body img:nth-child(2) {
          width: 385px;
          margin-top: 9px; }
      .registration-modal .modal-dialog .modal-content .modal-body h5 {
        font-size: 16px;
        color: #00a651;
        text-transform: uppercase;
        margin-top: 26px;
        margin-bottom: 26px; }
      .registration-modal .modal-dialog .modal-content .modal-body form input.form-control {
        border-radius: 0;
        background-color: #fffbf3;
        text-align: center;
        width: 270px;
        margin-left: auto;
        margin-right: auto;
        border-color: #231f20;
        color: #231f20;
        padding-top: 11px;
        padding-bottom: 11px;
        -webkit-transiton: all 0.3s;
        -moz-transiton: all .3s;
        -o-transiton: all .3s;
        transition: all .3s; }
        .registration-modal .modal-dialog .modal-content .modal-body form input.form-control:focus {
          border: 1px solid #ed1c24;
          box-shadow: none; }
      .registration-modal .modal-dialog .modal-content .modal-body form a.ic-reg-btn-modal {
        margin-top: 4px;
        display: inline-block;
        background-color: #ed1c24;
        color: #fff;
        padding: 12px 28px;
        border: none;
        outline: none;
        box-shadow: none;
        -webkit-transiton: all 0.3s;
        -moz-transiton: all .3s;
        -o-transiton: all .3s;
        transition: all .3s; }
        .registration-modal .modal-dialog .modal-content .modal-body form a.ic-reg-btn-modal:hover {
          background-color: #00a651;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
      .registration-modal .modal-dialog .modal-content .modal-body form [type=button], .registration-modal .modal-dialog .modal-content .modal-body form [type=reset], .registration-modal .modal-dialog .modal-content .modal-body form [type=submit], .registration-modal .modal-dialog .modal-content .modal-body form button {
        -webkit-appearance: none; }

#reg-form {
  font-family: 'NewsGothicMTBold', Sans-Serif;
  font-weight: 600; }
  #reg-form .ic-full-content {
    padding-left: 75px; }
    #reg-form .ic-full-content p.ic-reg-box {
      text-transform: uppercase;
      color: #fff;
      background-color: #ed1c24;
      display: inline-block;
      padding: 17px 28px;
      margin-bottom: 28px; }
    #reg-form .ic-full-content table tr td {
      padding-bottom: 31px; }
      #reg-form .ic-full-content table tr td:first-child {
        padding-right: 46px; }
      #reg-form .ic-full-content table tr td:nth-child(2) {
        padding-right: 21px; }
    #reg-form .ic-full-content table tr:last-child td:last-child {
      color: #00a651; }
    #reg-form .ic-full-content .ic-reg-home-link {
      font-size: 24px;
      color: #ed1c24;
      margin-top: 31px;
      display: inline-block; }
      #reg-form .ic-full-content .ic-reg-home-link i {
        margin-right: 18px; }

#ic-program {
  font-family: 'NewsGothicMTBold', Sans-Serif; }
  #ic-program p.ic-p2-font-size {
    font-size: 18px;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 35px; }
  #ic-program img.ic-ist-row-img {
    margin-bottom: 35px; }

p.ic-faculty-list {
  color: #ed1c24;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 35px; }

#ic-faculty-national {
  font-family: 'NewsGothicMTBold', Sans-Serif;
  background-color: #fffbf3; }
  #ic-faculty-national table caption {
    caption-side: top;
    background-color: #00a651;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    padding-left: 35px; }
  #ic-faculty-national table td, #ic-faculty-national table th {
    border: 1px solid #c8c6c4; }
  #ic-faculty-national table tr:nth-child(even) {
    background-color: #fcfcfc; }
  #ic-faculty-national table tr th:first-child, #ic-faculty-national table tr td:first-child {
    padding-left: 35px; }
  #ic-faculty-national table tr th:nth-child(2), #ic-faculty-national table tr td:nth-child(2) {
    padding-left: 90px; }
  #ic-faculty-national table thead tr th {
    background-color: #ebebeb;
    color: #00a651; }

/* For International page */
.ic-international table caption {
  background-color: #ed1c24 !important; }
.ic-international table thead tr th {
  color: #ed1c24 !important; }
